.container{
    background-color: aliceblue;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

h3{
    color: aquamarine;
    font-size: 30px;
    /* background-color: cadetblue; */
    
}
.header{
    background-color: black;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.section{
    background-color: chartreuse;
    max-height: 120px; 
  overflow-y: auto; 
  margin-top: -30px;
}
/* .forms{
    position: fixed;
} */